.Part {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF8C00;
    position: relative;
    

}

.Cycleright {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #FF0000;
    border-radius: 100%;
    position: relative;
    animation: monanim;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function:ease;
}

.Cycleright p {
    font-size: 6px;
    text-align: center;
    color: #FFFAFA;
    font-weight: bolder;
}

.Cycleright span {
    font-size: 16px;
    font-weight: bold;
    color: #FFFAFA;
}

.milieu p {
    position: absolute;
    top: -5px;
    left: 100px;
    font-weight: bold;
    color: #FFFAFA;
    animation: milieuAnime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
}

.Texteleft p {
    font-size: 10px;
    color: #FFFAFA;
    position: absolute;
    top: 20px;
    animation: leftAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}




@keyframes monanim {
    
    0% {
        overflow: hidden;
        right: -50px;
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
        right: 120px;
    }

}

@keyframes milieuAnime {
 
  0%{
      transform: translateY(-50px);
  }
  
  50% {
      transform: translateY(0);
  }
  
  100%{
      transform: scale(0);
  }
}


@keyframes leftAnim {
    
    0%{
        transform: translateX(-50px);
    }
    
    50%{
        transform: translateX(50px);
    }
    
    100% {
        transform: scale(0);
    }
}


@media screen and (min-width:960px){

    .Part {
        width: 100%;
        height: 60px;
    }

    .Cycleright {
        width: 60px;
        height: 60px;
        animation-duration: 4s; 
    }

    .Cycleright p {
        font-size: 12px;
        
    }

    .Cycleright span {
        font-size: 18px;
        font-weight: 900;
    }

    .milieu p {
        top: -5px;
        left: 40%;
        font-size: 16px;
        animation-duration: 4s;
    }

    .Texteleft p {
        font-size: 12px;
        animation-duration: 4s;
    }

    @keyframes monanim {
    
        0% {
            overflow: hidden;
            right: -50px;
            transform: rotate(0deg);
        }
        
        100% {
            transform: rotate(720deg);
            right: 50%;
        }
    
    }

    @keyframes leftAnim {
    
        0%{
            transform: translateX(-50px);
        }
        
        50%{
            transform: translateX(560px);
        }
        
        100% {
            transform: scale(0);
        }
    }

}