.sdk {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}


.paymentImage {
    display: flex;
    align-items: space-around;
    justify-content: center;
    gap: 5px;
}

.paymentImage img {
    width: 40px;
}

